@charset "utf-8";
*{ margin:0; padding:0;}
html{font-size: 20px;}
body{ margin:0; padding:0; font-family:"微软雅黑";}
input,select{ outline:none;}
.aui-bar-nav {
    top: 0;
    line-height: 2.4rem;
    background-color: #494e8e;
    color: #ffffff;
}
.aui-bar {
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    min-height: 2.4rem;
    font-size: 0.9rem;
    text-align: center;
    display: table;
}
.aui-bar-nav .aui-btn {
    position: relative;
    z-index: 20;
    height: 2.4rem;
    line-height: 2.4rem;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
    border-radius: 0.1rem;
    border-width: 0;
    background: transparent !important;
}
.aui-bar-nav .aui-pull-left {
    padding: 0 0.5rem;
    font-size: 0.8rem;
    font-weight: 400;
    z-index: 2;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}
.aui-bar-nav a {
    color: #ffffff;
}
.aui-bar-nav .aui-title {
    min-height: 2.4rem;
    position: absolute;
    margin: 0;
    text-align: center;
    white-space: nowrap;
    right: 5rem;
    left: 5rem;
    width: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    z-index: 2;
}
.aui-pull-left {
    float: left !important;
}

.aui-list {
    padding: 0;
    margin: 0;
    position: relative;
    font-size: 0.8rem;
}

.aui-list .aui-list-item {
    list-style: none;
    margin: 0; border-bottom:1px solid #ddd;
    padding: 0;
    padding-left: 0.75rem;
    color: #212121;
    background-color: #ffffff;
    position: relative;
    min-height: 2.5rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
.aui-list.aui-form-list .aui-list-item-inner {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    padding: 0;
}
.aui-list .aui-list-item-inner {
    position: relative;
    min-height: 2.5rem;
    padding-right: 0.75rem;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.aui-list .aui-list-item-label, .aui-list .aui-list-item-label-icon {
    color: #212121;
    width: 35%; 
    min-width: 1.5rem;
    margin: 0;
    padding: 0;
    padding-right: 0.25rem;
    line-height: 2.5rem;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    max-width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}
.aui-list .aui-list-item-input {
    width: 100%;
    padding: 0;
    padding-right: 0.75rem;
    -webkit-box-flex: 1;
    box-flex: 1;
    -webkit-flex-shrink: 1;
    flex-shrink: 1;
}
input[type="text"], input[type="password"], input[type="search"], input[type="email"], input[type="tel"], input[type="url"], input[type="date"], input[type="datetime-local"], input[type="time"], input[type="number"], select, textarea {
    border: none;
    background: none;
    border-radius: 0;
    box-shadow: none;
    display: block;
    padding: 0;
    margin: 0;
    width: 100%;
    min-height: 2.5rem;
    color: #424242;
    font-size: 0.8rem;
    font-family: inherit;
    box-sizing: border-box;
    -webkit-user-select: text;
    user-select: text;
    /*-webkit-appearance: none;
    appearance: none;
    -webkit-appearance: none;*/
}

button, .aui-btn {
    position: relative;
    display: inline-block;
    font-size: 0.7rem;
    font-weight: 400; width:70%; margin:2rem  auto;
	display:block;
    padding: 0.5rem 0;
    font-size: 0.9rem;
    font-family: inherit;
    text-decoration: none;
    text-align: center;
	color:#fff;
    background: #494e8e;
    border-radius: 0.2rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    touch-action: manipulation;
    -webkit-user-select: none;
    user-select: none;
}

.wrap{
    width: 4px; //设置需要固定的宽度
white-space: nowrap; //不换行
text-overflow: ellipsis; //超出部分用....代替
overflow: hidden; //超出隐藏
}